<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../../../assets/css/media.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	<link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>
<section class="bread">
	<div class="container">
		<div class="row">
			<ul class="breadcrumbs">
				<li class="ic_home"><a href="/"></a></li>
				<div class="sprt"></div>
				<li><a href="/arenda-stroitelnyh-lesov">Аренда</a></li>
				<div class="sprt"></div>
				<li><a href="/arenda-stroitelnyh-lesov">Комплектующие для опалубки</a></li>
				<div class="sprt"></div>
			</ul>
		</div>
	</div>
</section>

<section class="arend_b">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="boximg_a_b"><img src="../../../assets/img/boxa.png" alt="" title=""></div>
			</div>
			<div class="col-sm-6">
				<div class="boxtxt_a_b">
				<h2>Аренда опалубки</h2>
				<a href="#" class="morelnk">Узнайте больше</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="aboutbox">
	<div class="container940">
		<div class="row">
			<div class="col-sm-6 brdrt">
				<h3>Преимущества аренды</h3>
				<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.</p>
			</div>
			<div class="col-sm-6">
				<div class="advantages_two liblue">
					<ul>
						<li>
							<span>&nbsp;</span>
							<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания</p>
						</li>
						<li>
							<span>&nbsp;</span>
							<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания</p>
						</li>
						<li>
							<span>&nbsp;</span>
							<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="gallery photogal">
	<div class="container940">
		<div class=" gallery-two-coloms opalubki-grid">
			<div class="gallery-grid">
				<div class="gallery-item">
					<div class="block-title">
						<strong class="title">Опалубка стен</strong>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<img src="../../../assets/img/boxa.png" alt="image description" title="">
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<a href="#" class="btn">Заказать</a>
					</div>
					<div class="gallery-item-hide">
						<div class="gallery-item-dscr">
							<ul class="list">
								<li>Аренда опалубки на телископических стойках</li>
								<li>Аренда обьемной опалуки ХСИ</li>
								<li>Аренда опалубки Cup-Lock</li>
								<li>Аренда мостовой опалубки</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="gallery-grid">
				<div class="gallery-item">
					<div class="block-title">
						<strong class="title">Опалубка перекрытий</strong>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<img src="../../../assets/img/boxa.png" alt="image description" title="">
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<a href="#" class="btn">Заказать</a>
					</div>
				</div>
			</div>
			<div class="gallery-grid">
				<div class="gallery-item">
					<div class="block-title">
						<strong class="title">Опалубка колонн</strong>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<img src="../../../assets/img/boxa.png" alt="image description" title="">
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<a href="#" class="btn">Заказать</a>
					</div>
				</div>
			</div>
			<div class="gallery-grid">
				<div class="gallery-item">
					<div class="block-title">
						<strong class="title">Опалубка лифтовых шахт</strong>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<img src="../../../assets/img/boxa.png" alt="image description" title="">
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<a href="#" class="btn">Заказать</a>
					</div>
				</div>
			</div>
			<div class="gallery-grid">
				<div class="gallery-item">
					<div class="block-title">
						<strong class="title">Фанера ламинированная</strong>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<img src="../../../assets/img/boxa.png" alt="image description" title="">
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<a href="#" class="btn">Заказать</a>
					</div>
				</div>
			</div>
			<div class="gallery-grid">
				<div class="gallery-item">
					<div class="block-title">
						<strong class="title">Комплектующие и расходные материалы</strong>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<img src="../../../assets/img/boxa.png" alt="image description" title="">
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<a href="#" class="btn">Заказать</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section class="bgnimf">
	<div class="container">
		<h3>Характеристики</h3>
		<div class="row">
			<div class="col-sm-6 ctlnkbox">
				<a class="ctlnlinf_long" href="#">Технические характеристики стеновой опалубки<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Технические характеристики стеновой опалубки<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Технические характеристики стеновой опалубки<span class="size">1,7 Мб</span></a>
			</div>
			<div class="col-sm-6 ctlnkbox">
				<a class="ctlnlinf_long" href="#">Технические характеристики стеновой опалубки<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Технические характеристики стеновой опалубки<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Технические характеристики стеновой опалубки<span class="size">1,7 Мб</span></a>
			</div>
		</div>
	</div>
</section>
<section class="boxpad txt">
	<div class="container940">
		<div class="row">
			<div class="col-sm-8">
				<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.</p>
				<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.</p>
			</div>
			<div class="col-sm-4">
				<div class="quest_block asd">
					<div class="row">
						<div class="col-sm-5">
							<img src="../../../assets/img/img_face.png" alt="image description">
						</div>
						<div class="col-sm-7">
							<div class="boxheadrev">
								<div class="title_block">Сергей Иванов</div>
								<span>ООО Красный Лис</span>
							</div>
						</div>
					</div>
					<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует</p>
				</div>
				<div class="bgphonead">
					<p>Есть вопросы по аренде?</p>
					<h4>Звоните</h4>
					<div class="phone_ic">8 (495) 640-59-79</div>
					<a class="lnkgreen" href="#">Отправить заявку</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="form multi-line_form">
	<div class="container">
		<div class="row">
			<form action="#">
			<div class="titleform">
				<div class="h2">Форма заказа</div>
				<span>Напишите нам и с вами свяжется наш менеджер</span>
			</div>
			<div class="flex">
				<div class="flex">
					<div class="flex3">
						<div class="input-group">
							<input type="text" class="form-control" id="name" required="" placeholder=" ">
							<label for="name">Ваше имя <span class="required">*</span></label>
						</div>
					</div>
					<div class="flex3">
						<div class="input-group">
							<input type="text" class="form-control" id="phone" pattern="\+7 \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}" title="Формат: +7 (XXX) XXX-XX-XX" placeholder=" ">
							<label for="phone">Телефон <span class="required">*</span></label>
						</div>
					</div>
					<div class="flex3">
						<div class="input-group">
							<input type="email" class="form-control" id="email" required="" placeholder=" ">
							<label for="email">Электронная почта <span class="required">*</span></label>
						</div>
					</div>
				</div><!-- /flex -->
				<div class="flex flex-stretch">
					<div class="flex6">
						<textarea class="form-control" placeholder="Вопросы и дополнения"></textarea>
					</div>
				</div><!-- /flex -->
				<div class="col-sm-4">
					<button class="send-btn" name="ok">Отправить заявку</button>
				</div>
				<div class="col-sm-6">
					<div class="flex confidpol">
						<input type="checkbox" class="checkbox" id="politica">
						<label for="politica">Согласен с политикой конфедециальности</label>
					</div>
				</div>
			</div><!-- /multi-line_form -->
		</form>
		</div>
	</div>
</section>

<section class="address">
	<div class="address_inner">
		<div class="container940">
			<h2><img src="../../../assets/img/add.png" alt="img">Адреса офисов и складов</h2>
			<div class="row address-list">
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<h3>ОФИС <br><span>Санкт-Петербург</span></h3>
						<a class="address_tel" href="tel: +7 812 334-11-27">
							<img src="../../../assets/img/add_phone.png" alt="img">+7 812 334-11-27
						</a>
						<p>ул. Белоостровская, д.22, оф.4</p>
					</div>
				</div>
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<h3>СКЛАД <br><span>Санкт-Петербург</span></h3>
						<a class="address_tel" href="tel: +7 812 334-11-27">
							<img src="../../../assets/img/add_phone.png" alt="img">+7 812 334-11-27
						</a>
						<p>Санкт-Петербург, Выборгское шоссе</p>
					</div>
				</div>
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<h3>ОФИС <br><span>Москва</span></h3>
						<a class="address_tel" href="tel: +7 499 490-12-95">
							<img src="../../../assets/img/add_phone.png" alt="img">+7 499 490-12-95
						</a>
						<p>Район «Некрасовка», ул. 2-я Вольская, д.34-2</p>
					</div>
				</div>
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<h3>СКЛАД <br><span>Москва</span></h3>
						<a class="address_tel" href="tel: +7 499 490-12-95">
							<img src="../../../assets/img/add_phone.png" alt="img">+7 499 490-12-95
						</a>
						<p>Район «Некрасовка»</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
<script src="../../../js/scripts.min.js"></script>
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>
