<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../../assets/css/media.css" rel="stylesheet">
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>
<div class="arenda-lesov--decor">
    <img src="../../../assets/img/arenda-lesov-bg.jpg" alt="">
</div>

<section class="aboutbox">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 brdrt">
                <h3>Преимущества аренды</h3>
                <p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.</p>
            </div>
            <div class="col-sm-6">
                <div class="advantages_two liblue">
                    <ul>
                        <li>
                            <span>&nbsp;</span>
                            <p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания</p>
                        </li>
                        <li>
                            <span>&nbsp;</span>
                            <p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания</p>
                        </li>
                        <li>
                            <span>&nbsp;</span>
                            <p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="gallery photogal">
    <div class="container940">
        <div class=" gallery-two-coloms">
            <div class="gallery-grid">
                <div class="gallery-item">
                    <div class="block-title">
                        <a href="#" class="title">Рамные леса (ЛРСП-40, ЛРСП 60)</a>
                        <p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
                    </div>
                    <img src="../../../assets/img/boxq.png" alt="image description">
                    <div class="block-btn">
                        <span class="price">от 4500 руб/мес</span>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <div class="block-title">
                        <a href="#" class="title">Клиновые леса</a>
                        <p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
                    </div>
                    <img src="../../../assets/img/boxq.png" alt="image description">
                    <div class="block-btn">
                        <span class="price">от 4500 руб/мес</span>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <div class="block-title">
                        <a href="#" class="title">Хомутовые леса</a>
                        <p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
                    </div>
                    <img src="../../../assets/img/boxq.png" alt="image description">
                    <div class="block-btn">
                        <span class="price">от 4500 руб/мес</span>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <div class="block-title">
                        <a href="#" class="title">Чашечные леса</a>
                        <p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
                    </div>
                    <img src="../../../assets/img/boxq.png" alt="image description">
                    <div class="block-btn">
                        <span class="price">от 4500 руб/мес</span>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <div class="block-title">
                        <a href="#" class="title">Вышки туры</a>
                        <p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
                    </div>
                    <img src="../../../assets/img/boxq.png" alt="image description">
                    <div class="block-btn">
                        <span class="price">от 4500 руб/мес</span>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <div class="block-title">
                        <a href="#" class="title">Комплектующие </a>
                        <p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
                    </div>
                    <img src="../../../assets/img/boxq.png" alt="image description">
                    <div class="block-btn">
                        <span class="price">от 4500 руб/мес</span>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="bgnimf">
    <div class="container">
        <h3>Характеристики</h3>
        <div class="row">
            <div class="col-sm-6 ctlnkbox ctlnkbox-anothPadding">
                <a class="ctlnlinf_long" href="#">Каталог строительных лесов <span class="size">1,7 Мб</span></a>
                <a class="ctlnlinf_long" href="#">Комплектация<span class="size">1,7 Мб</span></a>
                <a class="ctlnlinf_long" href="#">Схемы<span class="size">1,7 Мб</span></a>
            </div>
            <div class="col-sm-6 ctlnkbox ctlnkbox-anothPadding">
                <a class="ctlnlinf_long" href="#">Цены на аренду лесов<span class="size">1,7 Мб</span></a>
                <a class="ctlnlinf_long" href="#">Виды раскладок<span class="size">1,7 Мб</span></a>
                <a class="ctlnlinf_long" href="#">Каталог<span class="size">1,7 Мб</span></a>
            </div>
        </div>
    </div>
</section>
<section class="boxpad txt">
    <div class="container940">
        <div class="row">
            <div class="col-sm-8">
                <p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж. Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно&nbsp;предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.</p>

                <p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно&nbsp;предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна.</p>
            </div>
            <div class="col-sm-4">
                <div class="quest_block quest_block__mg">
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="../../../assets/img/img_face.png" alt="image description">
                        </div>
                        <div class="col-sm-7">
                            <div class="boxheadrev">
                                <div class="title_block">Каримов В.Д.</div>
                                <span>НПП «Центр»</span>
                            </div>
                        </div>
                    </div>
                    <p>“ Заказывали 5 бытовок на время выполнения объекта. Приехал сам в ПрофМастер осмотрел бытовки и заказал. Через несколько часов бытовки были доставлены в указанное место. Приятно иметь дело с ответственными людьми. Успехов. ”</p>
                </div>
                <div class="bgphonead">
                    <p>Есть вопросы по аренде?</p>
                    <h4>Звоните</h4>
                    <div class="phone_ic">8 (495) 640-59-79</div>
                    <a class="lnkgreen" href="#">Отправить заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="calc">
    <div class="container">
        <div class="calc__left">
            <div class="calc__title">
                <img src="../../../img/calc-ico.png" alt="calc">
                <span>Калькулятор аренды <br>и доставки</span>
            </div>
            <div class="calc__range">
                <b class="sm">Высота, м</b>
                <div class="wrap-range">
                    <input type="text" class="range" readonly="">
                </div>
            </div>
            <div class="calc__range">
                <b class="sm">Длина, м</b>
                <div class="wrap-range">
                    <input type="text" class="range" readonly="">
                </div>
            </div>

            <div class="calc__range">
                <b class="sm wdt">Кол-во лестничных подьемов</b>
                <div class="wrap-smlinp">
                    <input type="text" class="smlinp" placeholder="0">
                </div>
            </div>

            <div class="calc__range">
                <b class="sm wdt">Кол-во ярусов с настилами</b>
                <div class="wrap-smlinp">
                    <input type="text" class="smlinp" placeholder="0">
                </div>
            </div>


            <div class="calc__line">
                <div class="calc__radio">
                    <input type="radio" id="r1" class="radio" name="zalog" value="1"><label for="r1">С залогом</label>
                </div>
                <div class="calc__radio">
                    <input type="radio" id="r2" class="radio" checked="" name="zalog" value="0"><label for="r2">Без залога</label>
                </div>
            </div>
            <div class="calc__line">
                <div class="calc__radio">
                    <input type="radio" id="r3" class="radio" checked="" name="delivery" value="1"><label for="r3">С доставкой</label>
                </div>
                <div class="calc__radio">
                    <input type="radio" id="r4" class="radio" name="delivery" value="0"><label for="r4">Без доставки</label>
                </div>
            </div>
            <ul class="tabs-list">
                <li class="tabs-list__item tabs-list__item_active"><button type="button" data-content="content1">Москва</button></li>
                <li class="tabs-list__item"><button type="button" data-content="content2">Санкт-Петербург</button></li>
            </ul>
            <div class="tabs__content tabs__content_active" id="content1" style="">
                <div class="calc__select">
                    <select name="delivery" id="delivery">
                        <option value="1">Выбор способа доставки</option>
                        <option value="1">1</option>
                        <option value="1">2</option>
                    </select>
                </div>
                <div class="calc__select">
                    <select name="city" id="city">
                        <option value="1">Населеный пункт доставки</option>
                        <option value="1">1</option>
                        <option value="1">2</option>
                    </select>
                </div>
            </div>
            <div class="tabs__content" id="content2" style="display: none;">

                <div class="calc__select">
                    <select name="delivery" id="delivery">
                        <option value="1">Выбор способа доставки</option>
                        <option value="1">1</option>
                        <option value="1">2</option>
                    </select>
                </div>
                <div class="calc__select">
                    <select name="city" id="city">
                        <option value="1">Населеный пункт доставки</option>
                        <option value="1">1</option>
                        <option value="1">2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="calc__right">


            <div class="calc__cost fullcost">
                <p>Стоимость аренды  лесов в месяц без доставки)</p>
                <b>20 250 <span>рублей</span></b>
            </div>

            <div class="calc__cost fullcost">
                <p>Срок аренды лесов за 1 м2 без доставки)</p>
                <b>500 <span>рублей</span></b>
            </div>


            <div class="calc__cost fullcost">
                <p>Стоимость доставки</p>
                <b>5 500 <span>рублей</span></b>
            </div>




            <div class="calc__buy">
                <button>Заказать</button>
            </div>
            <div class="calc__bonus bonus">
                <div class="bonus__text">
                    <img src="/img/star.png" alt="ico">
                    <span>Скидки <br>и особые <br>условия</span>
                </div>
                <div class="bonus__info">
                    <p>При аренде на длительный <br>срок или при заказе <br>большого обьема</p>
                    <p>Узнайте у специалиста <a href="mailto:info@pgm.ru">info@pgm.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="steps">
    <div class="container">
        <h1>Стадии совершения заказа</h1>
        <div class="stepsbgbox"></div>
    </div>
</section>
<section class="photogal">
    <div class="container940">
        <div class="titlesect"><h2>Фотогалерея</h2></div>
        <div class="gallerybox">
            <div class="gallerybox-large">
                <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598dac924f62c.jpg" rel="lightbox1">
                    <img src="../../../assets/img/photogallery1.jpg" alt="image description">
                </a>
            </div>
            <div class="gallerybox-small">
                <div class="gallerybox-row">
                    <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598d9fd09f066.jpg" rel="lightbox1">
                        <img src="../../../assets/img/photogallery2.jpg" alt="image description">
                    </a>
                    <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598d9fd0b4dff.jpg" rel="lightbox1">
                        <img src="../../../assets/img/photogallery3.jpg" alt="image description">
                    </a>
                    <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598dac92a93ee.jpg" rel="lightbox1">
                        <img src="../../../assets/img/photogallery4.jpg" alt="image description">
                    </a>
                </div>
                <div class="gallerybox-row">
                    <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598dac92cec51.jpg" rel="lightbox1">
                        <img src="../../../assets/img/photogallery5.jpg" alt="image description">
                    </a>
                    <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598dac92ed1f6.jpg" rel="lightbox1">
                        <img src="../../../assets/img/photogallery6.jpg" alt="image description">
                    </a>
                    <a class="img-box bg-stretch" href="http://rentprof.local/uploads/images/598dac9230f0a.jpg" rel="lightbox1">
                        <img src="../../../assets/img/photogallery7.jpg" alt="image description">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faqpage faqpage__arenda_lesov">
    <div class="container940">
        <div class="titlesect titlesect-line-decore"><h2>Ответы на распространенные вопросы</h2></div>
        <div class="faq-list">
            <div class="faq-item">
                <div class="title_block">Какой минимальный срок аренды бытовки?</div>
                <div class="quest_block">
                    Минимальный срок аренды составляет 15 суток. Максимального ограничения по срокам аренды не существует, то есть наши клиенты могут сами регулировать сроки аренды и в случае необходимости пролонгировать договор на определенный срок (месяц/сутки). Также возможно досрочное расторжение договора. При долгосрочной аренде бытовок клиентам гарантируется гибкая система скидок.
                </div>
            </div>
            <div class="faq-item">
                <div class="title_block">Можно ли взять бытовку в аренду без залога?</div>
                <div class="quest_block">
                    Аренда без залога возможна при предоплате бытовки сразу за 3 мес. вперед. При этом если вы вернете оборудование раньше этого срока, то мы возвратим вам неиспользованную сумму денег. Стоимость аренды без залога выше на 25 % стоимости аренды с залогом. Но общая сумма платежа, необходимого для заключения договора получается меньше.
                </div>
            </div>
            <div class="faq-item">
                <div class="title_block">Сколько стоит доставка бытовки мне на объект?</div>
                <div class="quest_block">
                    Стоимость доставки 6500 руб по СПб (внутри КАД), 7000руб. по Москве (внутри МКАД) за 1шт. Далее 60 руб -1 км. Доставка осуществляется манипулятором, который сам ее выгрузит и установит вам, туда куда необходимо. Если вы берете в аренду более 3х бытовок, то мы можем оптимизировать для вас транспортные расходы, за счет доставки бытовок на длинномерной машине – по 2шт.				</div>
            </div>
            <div class="faq-item">
                <div class="title_block">Могу ли я самостоятельно забрать бытовку с вашего склада?</div>
                <div class="quest_block">
                    Можете. При условии самостоятельной погрузки на свою машину (манипулятор). При этом необходимо будет все равно оплатить обратный вывоз (как страховой депозит). Если вы также, самостоятельно ее вернете на наш склад – мы вернем вашу оплату за обратный вывоз.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form multi-line_form">
    <div class="container">
        <div class="row">
            <form action="#">
                <div class="titleform">
                    <div class="h2">Форма заказа</div>
                    <span>Напишите нам и с вами свяжется наш менеджер</span>
                </div>
                <div class="flex">
                    <div class="flex">
                        <div class="flex3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" required="" placeholder=" ">
                                <label for="name">Ваше имя <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="flex3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="phone" pattern="\+7 \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}" title="Формат: +7 (XXX) XXX-XX-XX" placeholder=" ">
                                <label for="phone">Телефон <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="flex3">
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" required="" placeholder=" ">
                                <label for="email">Электронная почта <span class="required">*</span></label>
                            </div>
                        </div>
                    </div><!-- /flex -->
                    <div class="flex flex-stretch">
                        <div class="flex6">
                            <textarea class="form-control"  placeholder="Вопросы и дополнения"></textarea>
                        </div>
                    </div><!-- /flex -->
                    <div class="col-sm-5">
                        <button class="send-btn" name="ok">Отправить заявку</button>
                    </div>
                    <div class="col-sm-7">
                        <div class="flex confidpol">
                            <input type="checkbox" class="checkbox" id="politica">
                            <label for="politica">Согласен с политикой конфедециальности</label>
                        </div>
                    </div>
                </div><!-- /multi-line_form -->
            </form>
        </div>
    </div>
</section>


<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
<script src="../../../js/scripts.min.js"></script>
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>