<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../../../assets/css/media.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	<link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>


<!-- стр-arenda-bitovok Измененение заголовка -->

<section class="aboutbox">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 brdrt">
				<h3>Преимущества аренды бытовок</h3>
				<p>Оптимальным вариантом считается аренда бытовок, а не их дорогостоящее приобретение или строительство собственными руками, что является трудоемким и время затратным процессом. Аренда особенно актуальна для строительных компаний, которые занимаются сезонными работами. Кроме того, рекомендуется арендовать такое временное жильё и в том случае, если компания осуществляет определенные работы в удаленной от городской инфраструктуры местности. В случае аренды вопрос, что делать с бытовками после завершения работ, не возникнет.&nbsp;</p>
			</div>
			<div class="col-sm-6">
				<div class="advantages_two liblue">
					<ul>
						<li>
							<span>&nbsp;</span>
							<p>Экономия средств, аренда дешевле покупки.</p>
						</li>
						<li>
							<span>&nbsp;</span>
							<p>Нет проблем с хранением после окончания стройки.</p>
						</li>
						<li>
							<span>&nbsp;</span>
							<p>Высокое качество арендуемого оборудования.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- стр-arenda-bitovok Добавлен новый блок "informbox" -->

<section class="bgnimf">
	<div class="container">
		<div class="row">
			<div class="catinfo bgblock">
				<div class="row-flex">
					<div class="col-sm-4 ctlnkbox">
						<a class="ctlnlinf" href="#">Каталог</a>
						<a class="ctlnlinf" href="#">Типовая планировка бытовки</a>
						<a class="ctlnlinf" href="#">Характеристики и комплектация бытовок</a>
					</div>
					<div class="col-sm-4 complinfbox">
						<h4>Комплектация</h4>
						<ol class="item-list">
							<li>По сути, особенность рекламы консолидирует пак-шот.&nbsp;</li>
							<li>По сути, особенность рекламы консолидирует пак-шот.</li>
							<li>По сути, особенность рекламы консолидирует пак-шот</li>
						</ol>
					</div>
					<div class="col-sm-4 informbox">
						<div class="bgphonead">
							<p>Есть вопросы по аренде?</p>
							<h4>Звоните</h4>
							<div class="phone_ic">8 (495) 640-59-79</div>
							<a class="lnkgreen" href="#">Отправить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- стр arenda-stroitelnyh-lesov Характеристики добавлен вес файлов(size) -->

<section class="bgnimf">
	<div class="container">
		<div class="row">
			<h3>Характеристики</h3>
			<div class="col-sm-6 ctlnkbox ctlnkbox-anothPadding">
				<a class="ctlnlinf_long" href="#">Каталог строительных лесов <span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Комплектация<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Схемы<span class="size">1,7 Мб</span></a>
			</div>
			<div class="col-sm-6 ctlnkbox ctlnkbox-anothPadding">
				<a class="ctlnlinf_long" href="#">Цены на аренду лесов<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Виды раскладок<span class="size">1,7 Мб</span></a> 
				<a class="ctlnlinf_long" href="#">Каталог<span class="size">1,7 Мб</span></a>
			</div>
		</div>
	</div>
</section>

<!-- стр arenda-ramnyh-lesov заменена и отцентрирована картинка -->

<section class="bgnimf">
	<div class="container boxcol boxcol-flex">
		<div class="row">
			<div class="col-sm-6">
				<div class="imgcol imgcol-center"><img src="../../../uploads/categories/598813e8a1705.png" alt="" title=""></div>
			</div>
			<div class="col-sm-6 bgf8">
				<p>Рамные леса выполнены в виде пространственных конструкций, где соединительными узлами выступают вертикальные и горизонтальные связи. Быструю сборку и демонтаж установки обеспечивает флажковое соединение, благодаря которому заметно сокращается время подготовительных работ. Основу рамных лесов, в зависимости от их высоты, составляют трубы, достигающие 100 метров по максимальной отметке. Такие конструкции успешно применяют: при отделке фасадов; ремонтных работах; реставрации помещений; в кирпичной или каменной кладке.</p>
			</div>
		</div>
	</div>
</section>

<!-- стр arenda-ramnyh-lesov свёрстан блок  Стоимость аренды лесов-->

<section class="bgnimf">
	<div class="container scaffoldprice">
		<h3>Стоимость аренды лесов</h3>
		<div class="scaffoldprice-table">
			<table>
				<tr>
					<th>Площадь фасада</th>
					<td>до 300 м</td>
					<td>до 1000 м</td>
					<td>до 10 000 м</td>
				</tr>
				<tr>
					<th>Цена в сутки за м2</th>
					<td>2,5 руб.</td>
					<td>1,90 руб.</td>
					<td>1,47 руб.</td>
				</tr>
			</table>
		</div>
		<div class="scaffoldprice-info">
			<div class="row">
				<div class="col-sm-6">
					<div class="info">
						<span class="title">Дополнительная информация по стоимости аренды</span>
						<p class="dscr">Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="info">
						<span class="title">Дополнительная информация по стоимости аренды</span>
						<p class="dscr">Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



</body>
</html>