<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар леса</title>
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../../assets/css/media.css" rel="stylesheet">
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>
<section class="bread">
    <div class="container">
    <div class="row">
            <ul class="breadcrumbs">
                <li class="ic_home"><a href="/"></a></li>
                <div class="sprt"></div>
                    <li><a href="/arenda-stroitelnyh-lesov">Аренда</a></li>
                <div class="sprt"></div>
                 <li><a href="/arenda-stroitelnyh-lesov"> Комплектующие для опалубки</a></li>
            </ul>
    </div>
    </div>
    </section>
    <div class="block-title">
    <div class="container">
        <h1>Цены на аренду</h1>
        </div>
    </div>


<div class="block-tabs">
	<div class="header-tabs">
		<div class="container">
			<ul class="tabs-list">
				<li class="tabs-list__item tabs-list__item_active"><button type="button" data-content="content1">Бытовки</button></li>
				<li class="tabs-list__item"><button type="button" data-content="content2">Леса</button></li>
				<li class="tabs-list__item"><button type="button" data-content="content3">Опалубка</button></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="tabs__content tabs__content_active" id="content1" style="">
			<div class="contentbox content-about">
				<h3>Стоимость аренды бытовки</h3>
					<div class="table-wrap shadow-table">
						<table class="table table_cost">
							<tbody>
								<tr class="bgtablecont">
									<td class="colorBlue bg-grey">Площадь фасада</td>
									<td>до 300 м</td>
									<td>до 1000 м</td>
									<td>до 10 000 м</td>
								</tr>
								<tr class="bgtablecont">
									<td class="colorBlue bg-grey">Цена в сутки за м2</td>
									<td>2,5 руб.</td>
									<td>1,90 руб.</td>
									<td>1,47 руб.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="two-columns_text">
						<div class="row">
							<div class="col-md-6">
								<h4 class="colorBlue">Дополнительная информация по стоимости аренды</h4>
								<p>Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная </p>
							</div>
							<div class="col-md-6">
								<h4 class="colorBlue">Дополнительная информация по стоимости аренды</h4>
								<p>Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная </p>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="tabs__content" id="content2">
			<div class="contentbox content-about">
				<h3>Стоимость аренды бытовки</h3>
					<div class="table-wrap shadow-table">
						<table class="table table_cost">
							<tbody>
								<tr class="bgtablecont">
									<td class="colorBlue bg-grey">Площадь фасада</td>
									<td>до 300 м</td>
									<td>до 1000 м</td>
									<td>до 10 000 м</td>
								</tr>
								<tr class="bgtablecont">
									<td class="colorBlue bg-grey">Цена в сутки за м2</td>
									<td>2,5 руб.</td>
									<td>1,90 руб.</td>
									<td>1,47 руб.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="tabs__content" id="content3">
			<div class="contentbox content-about">
				<h3>Стоимость аренды бытовки</h3>
					<div class="table-wrap shadow-table">
						<table class="table table_cost">
							<tbody>
								<tr class="bgtablecont">
									<td class="colorBlue bg-grey">Площадь фасада</td>
									<td>до 300 м</td>
									<td>до 1000 м</td>
									<td>до 10 000 м</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="section-bg">
    <section class="form multi-line_form not_padding">
        <div class="container"><div class="row">
            <form action="#">
                <div class="titleform">
                    <div class="h2">Форма заказа</div>
                    <span>Напишите нам и с вами свяжется наш менеджер</span>
                </div>
                <div class="flex">
                    <div class="flex">
                        <div class="flex3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" required="" placeholder=" ">
                                <label for="name">Ваше имя <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="flex3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="phone" pattern="\+7 \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}" title="Формат: +7 (XXX) XXX-XX-XX" placeholder=" ">
                                <label for="phone">Телефон <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="flex3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" required="" placeholder=" ">
                                <label for="name">Электронная почта <span class="required">*</span></label>
                            </div>
                        </div>
                    </div><!-- /flex -->

                    <div class="flex flex-stretch">
                        <div class="flex6">
                            <div class="chbox">
                                <div class="titchbox">Тип бытовки:</div>
                                <div class="onechek"><input id="bitch1" type="radio" class="checkbox" name="typebit"> <label for="bitch1"></label> Бытовка для строителей </div>
                                <div class="onechek"><input id="bitch2" type="radio" class="checkbox" name="typebit"> <label for="bitch2"></label> Бытовка для прорабов </div>
                                <div class="onechek"><input id="bitch3" type="radio" class="checkbox" name="typebit"> <label for="bitch3"></label> Контейнер под склад </div>
                            </div>

                            <div class="chbox">
                                <div class="titchbox">Тип отделки бытовки::</div>
                                <div class="onechek"><input id="bitch5" type="radio" class="checkbox" name="typebitotd"> <label for="bitch5"></label> Доска </div>
                                <div class="onechek"><input id="bitch6" type="radio" class="checkbox" name="typebitotd"> <label for="bitch6"></label> Доска </div>
                            </div>
                        </div>
                    </div><!-- /flex -->
                    <div class="flex flex-stretch">
                        <div class="flex6">
                            <textarea class="form-control" placeholder="Вопросы и дополнения"></textarea>
                        </div>
                    </div><!-- /flex -->
                    <div class="col-sm-5">
                        <button class="send-btn" name="ok">Отправить заявку</button>
                    </div>
                    <div class="col-sm-7">
                        <div class="flex confidpol">
                            <input type="checkbox" class="checkbox" id="politica">
                            <label for="politica">Согласен с политикой конфедециальности</label>
                        </div>
                    </div>

                </div><!-- /multi-line_form --></form></div>


        </div>
    </section>
</div>




<section class="calc not_padding">
    <div class="container">
       <div class="about-calc">
       	 <div class="calc__left">
       	    <div class="calc__title">
       	        <img src="../../../img/calc-ico.png" alt="calc">
       	        <span>Калькулятор аренды <br>и доставки</span>
       	    </div>
       	    <div class="calc__select">
       	        <select name="delivery" id="deliveryes">
       	            <option value="1">Выберите тип бытовки</option>
       	            <option value="1">1</option>
       	            <option value="1">2</option>
       	        </select>
       	    </div>
       	    <div class="calc__range">
       	        <b class="sm">Количество</b>
       	        <div class="wrap-range">
       	            <input type="text" class="range" readonly="">
       	        </div>
       	    </div>
       	    <div class="calc__range">
       	        <b class="sm">Срок аренды (мес)</b>
       	        <div class="wrap-range">
       	            <input type="text" class="range" readonly="">
       	        </div>
       	    </div>
       	     <div class="add-calc"><a href="#">Добавить в расчет > </a></div>
       
       	
       	
       	    <div class="calc__line">
       	        <div class="calc__radio">
       	            <input type="radio" id="r1" class="radio" name="zalog" value="1"><label for="r1">С залогом</label>
       	        </div>
       	        <div class="calc__radio">
       	            <input type="radio" id="r2" class="radio" checked="" name="zalog" value="0"><label for="r2">Без залога</label>
       	        </div>
       	    </div>
       	    <div class="calc__line">
       	        <div class="calc__radio">
       	            <input type="radio" id="r3" class="radio" checked="" name="delivery" value="1"><label for="r3">С доставкой</label>
       	        </div>
       	        <div class="calc__radio">
       	            <input type="radio" id="r4" class="radio" name="delivery" value="0"><label for="r4">Без доставки</label>
       	        </div>
       	    </div>
       	    <ul class="tabs-list">
       	        <li class="tabs-list__item tabs-list__item_active"><button type="button" data-content="content1">Москва</button></li>
       	        <li class="tabs-list__item"><button type="button" data-content="content2">Санкт-Петербург</button></li>
       	    </ul>
       	    <div class="tabs__content tabs__content_active" id="content1" style="">
       	        <div class="calc__select">
       	            <select name="delivery" id="delivery">
       	                <option value="1">Выбор способа доставки</option>
       	                <option value="1">1</option>
       	                <option value="1">2</option>
       	            </select>
       	        </div>
       	        <div class="calc__select">
       	            <select name="city" id="city">
       	                <option value="1">Населеный пункт доставки</option>
       	                <option value="1">1</option>
       	                <option value="1">2</option>
       	            </select>
       	        </div>
       	    </div>
       	    <div class="tabs__content" id="content2" style="display: none;">
       	
       	        <div class="calc__select">
       	            <select name="delivery" id="delivery">
       	                <option value="1">Выбор способа доставки</option>
       	                <option value="1">1</option>
       	                <option value="1">2</option>
       	            </select>
       	        </div>
       	        <div class="calc__select">
       	            <select name="city" id="city">
       	                <option value="1">Населеный пункт доставки</option>
       	                <option value="1">1</option>
       	                <option value="1">2</option>
       	            </select>
       	        </div>
       	    </div>
       	</div>
       	<div class="calc__right">
       	
       		<h3>Стоимость</h3>
       		<div class="table-info">
       			<span class="text">Бытовка для строителей</span>
       			<span class="numbers">10 шт.</span>
       			<span class="cost">25 000 руб.</span>
       		</div>
       		<div class="table-info">
       			<span class="text">Бытовка для прорабов</span>
       			<span class="numbers">10 шт.</span>
       			<span class="cost">25 000 руб.</span>
       		</div>
       		<div class="table-info">
       			<span class="text">Морской контейнер</span>
       			<span class="numbers">10 шт.</span>
       			<span class="cost">25 000 руб.</span>
       		</div>
       	    <div class="calc-text">
       	        <p><mark>Срок аренды:</mark> 6 месяцев (без залога)</p>
       	        <p><mark>Доставка:</mark> Шаланда, город Тихвин</p>
       	    </div>
       	    <div class="block-fullcost">
       	    	<div class="calc__cost fullcost">
       	    	    <p>Стоимость аренды<br>(без доставки)</p>
       	    	    <b>20 250 <span>рублей</span></b>
       	    	</div>
       	    	       	
       	    	<div class="calc__cost fullcost">
       	    	    <p>Стоимость аренды <br>(с доставкой)</p>
       	    	    <b>45 250<span> рублей</span></b>
       	    	</div>
       	    </div>
       	
       	
       	
       	
       	    <div class="calc__buy">
       	        <button>Заказать</button>
       	    </div>
       	    <div class="calc__bonus bonus flex-box">
       	        <div class="bonus__text bonus__text_notMargin">
       	            <img src="../../../img/star.png" alt="ico">
       	            <span>Скидки <br>и особые <br>условия</span>
       	        </div>
       	        <div class="bonus__info">
       	            <p>При аренде на длительный <br>срок или при заказе <br>большого обьема</p>
       	            <p>Узнайте у специалиста <a href="mailto:info@pgm.ru">info@pgm.ru</a></p>
       	        </div>
       	    </div>
       	</div>
       </div>
    </div>
</section>

<section class="steps">
    <div class="container">
        <p class="steps-title">Стадии совершения заказа</p>
        <div class="stepsbgbox"></div>
    </div>
</section>


<section class="boxpad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 txtstyle">
				<p>
					По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж. Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.
				</p>
				<p>
					По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж. Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="address">
    <div class="address_inner">
        <div class="container940">
            <span class="address-title"><img src="../../../assets/img/add.png" alt="img">Адреса офисов и складов</span>
            <div class="row address-list">
                <div class="col-sm-3 address-list-item">
                    <div class="address_fone">
                        <span class="premises">ОФИС <br>
                        <span class="city">Санкт-Петербург</span></span>
                        <a class="address_tel" href="tel: +7 812 334-11-27">
                            <img src="../../../assets/img/add_phone.png" alt="img">+7 812 334-11-27
                        </a>
                        <p>ул. Белоостровская, д.22, оф.4</p>
                    </div>
                </div>
                <div class="col-sm-3 address-list-item">
                    <div class="address_fone">
                        <span class="premises">СКЛАД <br>
                        <span class="city">Санкт-Петербург</span></span>
                        <a class="address_tel" href="tel: +7 812 334-11-27">
                            <img src="../../../assets/img/add_phone.png" alt="img">+7 812 334-11-27
                        </a>
                        <p>Санкт-Петербург, Выборгское шоссе</p>
                    </div>
                </div>
                <div class="col-sm-3 address-list-item">
                    <div class="address_fone">
                        <span class="premises">ОФИС <br>
                        <span class="city">Москва</span></span>
                        <a class="address_tel" href="tel: +7 499 490-12-95">
                            <img src="../../../assets/img/add_phone.png" alt="img">+7 499 490-12-95
                        </a>
                        <p>Район «Некрасовка», ул. 2-я Вольская, д.34-2</p>
                    </div>
                </div>
                <div class="col-sm-3 address-list-item">
                    <div class="address_fone">
                        <span class="premises">СКЛАД <br>
                        <span class="city">Москва</span></span>
                        <a class="address_tel" href="tel: +7 499 490-12-95">
                            <img src="../../../assets/img/add_phone.png" alt="img">+7 499 490-12-95
                        </a>
                        <p>Район «Некрасовка»</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
<script src="../../../js/scripts.min.js"></script>
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>
