<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Товар леса</title>
	<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../../../assets/css/media.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	<link href="../../../assets/css/style2.css" rel="stylesheet">
	<link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>

<section class="bread">
	<div class="container">
		<div class="row">
			<ul class="breadcrumbs">
				<li class="ic_home"><a href="#"></a></li>
				<li><a href="#">Аренда</a></li>
				<div class="sprt"></div>
				<li><a href="#">Комплектующие для опалубки</a></li>
				<div class="sprt"></div>
			</ul>
		</div>
	</div>
</section>
<div class="clearfl"></div>

<div class="container">
	<div class="title">
		<h1>Комплектующие для опалубки</h1>
	</div>
</div>

<section class="bggray">
	<section class="reviewbox questions other">
		<div class="container">
			<div class="row">
				<div class="boxcomplbox">
					<div class="col-sm-4 boxcomplbox-img">
						<img src="../../../assets/img/phototrub.jpg" alt="" title="" />
					</div>
					<div class="col-sm-8">
						<h3>Пластиковая арматура</h3>
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
						<p class="infoic">Применяется при аренде опалубки лифтовых шахт</p>
					</div>
				</div>
				<div class="boxcomplbox">
					<div class="col-sm-4 boxcomplbox-img">
						<img src="../../../assets/img/phototrub.jpg" alt="" title="" />
					</div>
					<div class="col-sm-8">
						<h3>Пластиковая арматура</h3>
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
						<p class="infoic">Применяется при аренде опалубки лифтовых шахт</p>
					</div>
				</div>
				<div class="boxcomplbox">
					<div class="col-sm-4 boxcomplbox-img">
						<img src="../../../assets/img/phototrub.jpg" alt="" title="" />
					</div>
					<div class="col-sm-8">
						<h3>Пластиковая арматура</h3>
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
						<p class="infoic">Применяется при аренде опалубки лифтовых шахт</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="avantwobox">
		<div class="container">
			<div class="row row-flex">
				<div class="col-sm-6 lf6">
					<span class="avantwobox-title avantwobox-title-border">Преимущества аренды</span>
					<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно </p>
					<p>консолидирует социометрический маркетинг. Медийная реклама неоднозначна. Эластичность спроса откровенна. Медиапланирование притягивает конструктивный имидж.</p>
					<p>Не факт, что потребление упорядочивает социометрический потребительский рынок. Идеология выстраивания бренда детерминирует креативный рекламный блок. Согласно предыдущему, восприятие марки раскручивает медиамикс. </p>
				</div>
				<div class="col-sm-6 rl6">
					<span class="avantwobox-title">Применяется при аренде опалубков</span>
					<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно </p>
					<ul class="avantwobox-list">
						<li>Опалубка стен</li>
						<li>Опалубка колонн</li>
						<li>Опалубка перекрытий</li>
					</ul>
					<span class="question">Есть вопросы по аренде?<span>Звоните!</span></span>
					<div class="boxphoneadr">
						<div class="phonebx">8 (495) 640-59-79</div>
						<div class="adrbx"><a href="#">Отправить <br> заявку</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>


<section class="address">
	<div class="address_inner">
		<div class="container940">
			<span class="address-title"><img src="../../../assets/img/add.png" alt="img">Адреса офисов и складов</span>
			<div class="row address-list">
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<span class="premises">ОФИС <br>
					<span class="city">Санкт-Петербург</span></span>
						<a class="address_tel" href="tel: +7 812 334-11-27">
						<img src="../../../assets/img/add_phone.png" alt="img">+7 812 334-11-27
					</a>
						<p>ул. Белоостровская, д.22, оф.4</p>
					</div>
				</div>
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<span class="premises">СКЛАД <br>
					<span class="city">Санкт-Петербург</span></span>
						<a class="address_tel" href="tel: +7 812 334-11-27">
						<img src="../../../assets/img/add_phone.png" alt="img">+7 812 334-11-27
					</a>
						<p>Санкт-Петербург, Выборгское шоссе</p>
					</div>
				</div>
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<span class="premises">ОФИС <br>
					<span class="city">Москва</span></span>
						<a class="address_tel" href="tel: +7 499 490-12-95">
						<img src="../../../assets/img/add_phone.png" alt="img">+7 499 490-12-95
					</a>
						<p>Район «Некрасовка», ул. 2-я Вольская, д.34-2</p>
					</div>
				</div>
				<div class="col-sm-3 address-list-item">
					<div class="address_fone">
						<span class="premises">СКЛАД <br>
					<span class="city">Москва</span></span>
						<a class="address_tel" href="tel: +7 499 490-12-95">
						<img src="../../../assets/img/add_phone.png" alt="img">+7 499 490-12-95
					</a>
						<p>Район «Некрасовка»</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="footer">
	<div class="footer_inner">
		<div class="container">
			<div class="row row-flex">
				<div class="col-sm-4 footer-block">
					<span class="footer-title">Аренда</span>
					<ul class="footer-list">
						<li><a href="/arenda-bitovok">Аренда бытовок</a></li>
						<li><a href="/arenda-kontejnerov">Аренда контейнеров</a></li>
						<li><a href="/arenda-opalubki">Аренда опалубки</a></li>
						<li><a href="/arenda-stroitelnyh-lesov">Аренда лесов</a></li>
						<li><a href="/pay">Цены</a></li>
					</ul>
				</div>
				<div class="col-sm-3 footer-block footer-block_line">
					<span class="footer-title">О компании</span>
					<ul class="footer-list">
						<li><a href="/about">О компании</a></li>
						<li><a href="/pay">Оплата</a></li>
						<li><a href="/reviews">Отзывы</a></li>
						<li><a href="/faq">Ответы на вопросы</a></li>
						<li><a href="/articles">Статьи</a></li>
					</ul>
				</div>
				<div class="col-sm-5 footer-block">
					<span class="footer-title">Контакты</span>
					<a class="mail" href="info@rentprofmaster.ru">info@rentprofmaster.ru</a>
					<ul class="list-contact">
						<li>
							<span>Санкт-Петербург</span>
							<a class="tel" href="tel: +7 812 334-11-27">+7 812 334-11-27</a>
						</li>
						<li>
							<span>Москва</span>
							<a class="tel" href="tel: +7 499 490-12-95">+7 499 490-12-95</a>
						</li>
					</ul>
					<ul class="social">
						<li><a href="#">B</a></li>
						<li><a href="#">f</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


	<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
	<script src="../../../assets/js/bootstrap.min.js"></script>
	<script src="../../../assets/js/main.js"></script>
	<script src="../../../js/scripts.min.js"></script>
	<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
	<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>