<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../../../assets/css/media.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	<link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>

<span style="display:block; text-align:center;">1.Раздел бытовки</span>

<span style="display:block; text-align:center;">1.5.	Слайдер с квадратами остальными товарами </span>


<div class="gallery photogal">
	<div class="container940">
	<div class="gallery-two-coloms">
						<div class="gallery-grid">
			<div class="gallery-item">
				<div class="block-title">
					<a href="arenda-bitovok/arenda-bitobok-dlya-stroitelei" class="title">Аренда бытовок для строителей</a>
					<p class="title-dscr"></p>
				</div>
				<img src="/uploads/catalog/59c5361e4f7e2.png" alt="" title="">
				<div class="block-btn">
					<span class="price">от 6000 руб./мес.</span>
					<a href="javascript:void(0)" class="btn" data-toggle="modal" data-target=".modal-form">Заказать</a>
				</div>
			</div>
		</div>
						<div class="gallery-grid">
			<div class="gallery-item">
				<div class="block-title">
					<a href="arenda-bitovok/arenda-bytovok-dlya-prorabov" class="title">Аренда бытовок для прорабов</a>
					<p class="title-dscr"></p>
				</div>
				<img src="/uploads/catalog/59c5373032302.png" alt="" title="">
				<div class="block-btn">
					<span class="price">от 7000 руб./мес.</span>
					<a href="javascript:void(0)" class="btn" data-toggle="modal" data-target=".modal-form">Заказать</a>
				</div>
			</div>
		</div>
			</div>
	</div>
</div>
<section class="video-block">
    <div class="container940">
        <ul class="video-list">
        	            <li class="video-list-item">
            	<iframe id="ytplayer1" type="text/html" src="http://www.youtube.com/embed/XPoSQ9_bZqs?rel=0&amp;showinfo=0" allowfullscreen="true" frameborder="0"></iframe>
                <div class="video-list-img">
                    <img src="https://img.youtube.com/vi/XPoSQ9_bZqs/0.jpg" alt="image description">
                </div>
                <div class="video-list-link">
                    <span class="video-list-title">Сборка бытовки для строителей</span>
                    <a href="javascript:void(0)" class="to-play-video" data-id="1">play</a>
                </div>
            </li>
                        <li class="video-list-item">
            	<iframe id="ytplayer2" type="text/html" src="http://www.youtube.com/embed/KdJUG8iUWNI?rel=0&amp;showinfo=0" allowfullscreen="true" frameborder="0"></iframe>
                <div class="video-list-img">
                    <img src="https://img.youtube.com/vi/KdJUG8iUWNI/0.jpg" alt="image description">
                </div>
                <div class="video-list-link">
                    <span class="video-list-title">Сборка вагончика</span>
                    <a href="javascript:void(0)" class="to-play-video" data-id="2">play</a>
                </div>
            </li>
         </ul>
    </div>
</section>
<section class="gallery">
	<div class="container940">
		<div class="row">
			<div class="multiple-items">
				<div class="gallery-item">
					<img src="../../../assets/img/list-pic.png" alt="image description">
					<div class="block-title">
						<span class="title">Бытовка для столовых</span>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<button type="submit" class="btn">Заказать</button>
					</div>
				</div>
				<div class="gallery-item">
					<img src="../../../assets/img/list-pic.png" alt="image description">
					<div class="block-title">
						<span class="title">Бытовка для столовых</span>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<button type="submit" class="btn">Заказать</button>
					</div>
				</div>
				<div class="gallery-item">
					<img src="../../../assets/img/list-pic.png" alt="image description">
					<div class="block-title">
						<span class="title">Бытовка для столовых</span>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<button type="submit" class="btn">Заказать</button>
					</div>
				</div>
				<div class="gallery-item">
					<img src="../../../assets/img/list-pic.png" alt="image description">
					<div class="block-title">
						<span class="title">Бытовка для столовых</span>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<button type="submit" class="btn">Заказать</button>
					</div>
				</div>
				<div class="gallery-item">
					<img src="../../../assets/img/list-pic.png" alt="image description">
					<div class="block-title">
						<span class="title">Бытовка для столовых</span>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<button type="submit" class="btn">Заказать</button>
					</div>
				</div>
				<div class="gallery-item">
					<img src="../../../assets/img/list-pic.png" alt="image description">
					<div class="block-title">
						<span class="title">Бытовка для столовых</span>
						<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
					</div>
					<div class="block-btn">
						<span class="price">от 4500 руб/мес</span>
						<button type="submit" class="btn">Заказать</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<span style="display:block; text-align:center;">1.7.	Таблица с характеристиками  </span>

<section>
	<div class="container940">
		<table class="characteristic-info-table mgbottom8">
			<thead>
				<tr>
					<th>Характеристика</th>
					<th>Параметры</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Размеры</th>
					<td>Длина - 6м, ширина - 2.4 м, высота - 2,5 м</td>
				</tr>
				<tr>
					<th>Каркас</th>
					<td>Швеллер гнутый 100x3 мм</td>
				</tr>
				<tr>
					<th>Кровля</th>
					<td>Лист металический 1,5 мм гк</td>
				</tr>
				<tr>
					<th>Утепление</th>
					<td>Минираьная вата, толщина 50 мм</td>
				</tr>
				<tr>
					<th>Пароизоляция</th>
					<td>Техническая пленка</td>
				</tr>
				<tr>
					<th>Входная дверь</th>
					<td>Каркасная обшитая проф листом с-8</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<span style="display:block; text-align:center;">1.8.	Таблица сравнение характеристик   </span>

<section>
	<div class="container940">
		<div class="catinfo">
			<div class="tableboxcompaire">
				<div class="headtable">
					<h4>Сравнительная таблица характеристик бытовок</h4>
				</div>
				<table class="table anothmrg widtrow">
					<thead class="thead">
					</thead>
						<tbody>
							<tr>
								<th class="purpbg" scope="row">&nbsp;</th>
								<td class="grcol">Базовый</td>
								<td class="grcol">Для жилья</td>
								<td class="grcol">Новая</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Кровля</th>
								<td>Лист металический</td>
								<td>Лист металический</td>
								<td>Лист металлический окрашенный</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Внутренняя отделка</th>
								<td>Оргалит</td>
								<td>Оргалит</td>
								<td>Вагонка</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Пароизоляция</th>
								<td>Техническая пленка</td>
								<td>Техническая пленка</td>
								<td>Техническая пленка</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Утепление</th>
								<td>Минеральная вата, 50 мм (УРСА)</td>
								<td>Минеральная вата, 50 мм (УРСА)</td>
								<td>Минеральная вата, 50 мм (УРСА)</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Окна</th>
								<td>Деревянные</td>
								<td>Деревянные или пластиковые</td>
								<td>Пластиковые (2 камеры)</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Дверь</th>
								<td>Деревянная</td>
								<td>Металическая</td>
								<td>Металическая</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Пол</th>
								<td>Линолиум</td>
								<td>Линолиум</td>
								<td>Доски</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row">Дополнительно</th>
								<td>-</td>
								<td>Решетка на окнах</td>
								<td>Дополнительные розетки</td>
							</tr>
							<tr>
								<th class="purpbg" scope="row"><span style="font-weight: bold; text-align: center;">Доп. комплект</span></th>
								<td>-</td>
								<td>Спальные места, лавки, стол</td>
								<td>Спальные места, лавки, стол, вешалки, обогреватель</td>
							</tr>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</section>


<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
<script src="../../../js/scripts.min.js"></script>
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>