<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../../../assets/css/media.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	<link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>

<span style="display:block; text-align:center;">2. Товар бытовка</span>

<span style="display:block; text-align:center;">2.11. Другие типы бытовок  </span>


<section class="types-huts">
   <div class="container940">
      <div class="row">
         <div class="types-huts-block">
            <h2 class="types-huts__title">Другие типы бытовок</h2>
            <div class="types-huts-slider">
                     <div class="types-huts-view__product">
                        <img src="../../../assets/img/work_1.png" alt="">
                        <span>Бытовки для прорабов</span>
                     </div>
                     <div class="types-huts-view__product">
                        <img src="../../../assets/img/work_2.png" alt="">
                        <span>Бытовки для прорабов</span>
                     </div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_1.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_2.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_1.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_2.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_1.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_2.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_1.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_2.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_1.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
							<div class="types-huts-view__product">
								<img src="../../../assets/img/work_2.png" alt="">
								<span>Бытовки для прорабов</span>
							</div>
            </div>
         </div>
      </div>
   </div>
</section>


<span style="display:block; text-align:center;">2.14. Видео </span>

<section class="section-video">
   <div class="container940">
      <div class="video-container">
         <div class="video-special">
            <img src="../../../assets/img/3d-storage.jpg" alt="">
            <div class="video-special__item">
               <span class="video-special__name">3D видеотур по складу</span>
               <button type="button" name="button" class="video-special__play"></button>
            </div>
         </div>
         <div class="video-special">
            <img src="../../../assets/img/3d-storage.jpg" alt="">
            <div class="video-special__item">
               <span class="video-special__name">Видеотур по складу</span>
               <button type="button" name="button" class="video-special__play"></button>
            </div>
         </div>
      </div>
   </div>
</section>


<span style="display:block; text-align:center;">2.16. Текст в две колонки</span>

   <div class="container940">
      <div class="section-info">
         <div class="row">
            <div class="col-sm-6">
               <div class="info">
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="info">
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
               </div>
            </div>
         </div>
      </div>
   </div>

<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
<script src="../../../js/scripts.min.js"></script>
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>
