<!doctype html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../../../assets/css/media.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	<link href="../../../css/main.min.css" rel="stylesheet">
</head>
<body>

<span style="display:block; text-align:center;">2. Товар бытовка</span>

<span style="display:block; text-align:center;">2.10. Дополнительная комплектация</span>

<section class="faqpage">
	<div class="container940">
		<div class="titlesect"><h2>Дополнительная комплектация</h2></div>
		<div class="row about-equipment ">
			<div class="list-box ">
				<img src="../../../assets/img/3d-storage.jpg" alt="image description">
				<div class="list-box-hide">
					<div class="list-box-dscr">
							<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден По сути</p>
						<a href="#" class="save">Сохранить в PDF <span>3.5 мб</span></a>
					</div>
				</div>
			</div>
			<div class="list-box ">
				<img src="../../../assets/img/3d-storage.jpg" alt="image description">
				<div class="list-box-hide">
					<div class="list-box-dscr">
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден По сути</p>
						<a href="#" class="save">Сохранить в PDF <span>3.5 мб</span></a>
					</div>
				</div>
			</div>
			<div class="list-box ">
				<img src="../../../assets/img/3d-storage.jpg" alt="image description">
				<div class="list-box-hide">
					<div class="list-box-dscr">
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден По сути</p>
						<a href="#" class="save">Сохранить в PDF <span>3.5 мб</span></a>
					</div>
				</div>
			</div>
			<div class="list-box ">
				<img src="../../../assets/img/3d-storage.jpg" alt="image description">
				<div class="list-box-hide">
					<div class="list-box-dscr">
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден По сути</p>
						<a href="#" class="save">Сохранить в PDF <span>3.5 мб</span></a>
					</div>
				</div>
			</div>
			<div class="list-box ">
				<img src="../../../assets/img/3d-storage.jpg" alt="image description">
				<div class="list-box-hide">
					<div class="list-box-dscr">
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден По сути</p>
						<a href="#" class="save">Сохранить в PDF  <span>3.5 мб</span></a>
					</div>
				</div>
			</div>
			<div class="list-box ">
				<img src="../../../assets/img/3d-storage.jpg" alt="image description">
				<div class="list-box-hide">
					<div class="list-box-dscr">
						<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не&nbsp;так&nbsp;уж&nbsp;очевиден По сути</p>
						<a href="#" class="save">Сохранить в PDF <span>3.5 мб</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<span style="display:block; text-align:center;">2.11. Другие типы бытовок  </span>


<section class="types-huts">
   <div class="container940">
      <div class="row">
         <div class="types-huts-block">
            <h2 class="types-huts__title">Другие типы бытовок</h2>
            <div class="types-huts-slider">
               <div class="types-huts-view__product">
                  <img src="../../../assets/img/work_1.png" alt="">
                  <a href="#">Бытовки для прорабов</a>
               </div>
               <div class="types-huts-view__product">
               	<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
               </div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_1.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_1.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_1.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_1.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_1.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_1.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
					<div class="types-huts-view__product">
						<img src="../../../assets/img/work_2.png" alt="">
						<a href="#">Бытовки для прорабов</a>
					</div>
            </div>
         </div>
      </div>
   </div>
</section>

<span style="display:block; text-align:center;">2.13. Выполненные работы</span>

<section class="executed-works">
   <div class="container940">
      <div class="row">
         <div class="executed-works-block">
            <h2 class="executed-works__title">Выполненые работы</h2>
            <div class="executed-works-slider">
            	<div class="executed-works__product">
                  <img src="../../../assets/img/work_3.png" alt="">
                  <a href="#">Бытовки в поселке Фрезино</a>
               </div>
               <div class="executed-works__product">
                  <img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
            	</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_3.png" alt="">
						<a href="#">Бытовки в поселке Фрезино</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_3.png" alt="">
						<a href="#">Бытовки в поселке Фрезино</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_3.png" alt="">
						<a href="#">Бытовки в поселке Фрезино</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_3.png" alt="">
						<a href="#">Бытовки в поселке Фрезино</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_3.png" alt="">
						<a href="#">Бытовки в поселке Фрезино</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_3.png" alt="">
						<a href="#">Бытовки в поселке Фрезино</a>
					</div>
					<div class="executed-works__product">
						<img src="../../../assets/img/work_4.png" alt="">
						<a href="#">Контейнеры на стройке Газпрома</a>
					</div>
            </div>
         </div>
      </div>
   </div>
</section>


<span style="display:block; text-align:center;">2.14. Видео </span>

<section class="section-video">
   <div class="container940">
      <div class="video-container">
         <div class="video-special">
            <img src="../../../assets/img/3d-storage.jpg" alt="">
            <div class="video-special__item">
               <span class="video-special__name">3D видеотур по складу</span>
               <button type="button" name="button" class="video-special__play"></button>
            </div>
         </div>
         <div class="video-special">
            <img src="../../../assets/img/3d-storage.jpg" alt="">
            <div class="video-special__item">
               <span class="video-special__name">Видеотур по складу</span>
               <button type="button" name="button" class="video-special__play"></button>
            </div>
         </div>
      </div>
   </div>
</section>


<span style="display:block; text-align:center;">2.15. Фотогалерея</span>

<section class="photogal">
	<div class="container940">
		<div class="titlesect"><h2>Фотогалерея</h2></div>
		<div class="gallerybox">
			<div class="gallerybox-large">
				<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
					<img src="../../../assets/img/done2.jpg" alt="image description">
				</a>
			</div>
			<div class="gallerybox-small">
				<div class="gallerybox-row">
					<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
						<img src="../../../assets/img/done2.jpg" alt="image description">
					</a>
					<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
						<img src="../../../assets/img/3d-storage.jpg" alt="image description">
					</a>
					<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
						<img src="../../../assets/img/img-02-sm.jpg" alt="image description">
					</a>
				</div>
				<div class="gallerybox-row">
					<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
						<img src="../../../assets/img/done2.jpg" alt="image description">
					</a>
					<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
						<img src="../../../assets/img/3d-storage.jpg" alt="image description">
					</a>
					<a class="img-box" href="http://rentprof.local/uploads/images/598847c7e53ce.jpg" rel="lightbox1">
						<img src="../../../assets/img/3d-storage.jpg" alt="image description">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<span style="display:block; text-align:center;">2.16. Текст в две колонки</span>

   <div class="container940">
      <div class="section-info">
         <div class="row">
            <div class="col-sm-6">
               <div class="info">
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="info">
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
                  <p class="dscr">По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
               </div>
            </div>
         </div>
      </div>
   </div>


	<!-- стр-arenda-bitovok Переделаны блоки, выравнены по одной высоте (quest_block)  в (faqpage)"  -->
	<section class="faqpage">
		<div class="container940">
			<div class="titlesect titlesect-line-decore"><h2>Ответы на распространенные вопросы</h2></div>
			<div class="faq-list">
				<div class="faq-item">
					<div class="title_block">Какой минимальный срок аренды бытовки?</div>
					<div class="quest_block">
						Минимальный срок аренды составляет 15 суток. Максимального ограничения по срокам аренды не существует, то есть наши клиенты могут сами регулировать сроки аренды и в случае необходимости пролонгировать договор на определенный срок (месяц/сутки). Также возможно досрочное расторжение договора. При долгосрочной аренде бытовок клиентам гарантируется гибкая система скидок.
					</div>
				</div>
				<div class="faq-item">
					<div class="title_block">Можно ли взять бытовку в аренду без залога?</div>
					<div class="quest_block">
						Аренда без залога возможна при предоплате бытовки сразу за 3 мес. вперед. При этом если вы вернете оборудование раньше этого срока, то мы возвратим вам неиспользованную сумму денег. Стоимость аренды без залога выше на 25 % стоимости аренды с залогом. Но общая сумма платежа, необходимого для заключения договора получается меньше.
					</div>
				</div>
				<div class="faq-item">
					<div class="title_block">Сколько стоит доставка бытовки мне на объект?</div>
					<div class="quest_block">
						Стоимость доставки 6500 руб по СПб (внутри КАД), 7000руб. по Москве (внутри МКАД) за 1шт. Далее 60 руб -1 км. Доставка осуществляется манипулятором, который сам ее выгрузит и установит вам, туда куда необходимо. Если вы берете в аренду более 3х бытовок, то мы можем оптимизировать для вас транспортные расходы, за счет доставки бытовок на длинномерной машине – по 2шт.				</div>
				</div>
				<div class="faq-item">
					<div class="title_block">Могу ли я самостоятельно забрать бытовку с вашего склада?</div>
					<div class="quest_block">
						Можете. При условии самостоятельной погрузки на свою машину (манипулятор). При этом необходимо будет все равно оплатить обратный вывоз (как страховой депозит). Если вы также, самостоятельно ее вернете на наш склад – мы вернем вашу оплату за обратный вывоз.
					</div>
				</div>
				<div class="faq-item">
					<div class="title_block">Можете ли вы укомплектовать бытовку спальными местами – кроватями или нарами?</div>
					<div class="quest_block">
						Мы можем укомплектовать бытовки необходимой мебелью. Как правило, в большинстве случаев – это будет бесплатно. Вам необходимо лишь будет внести денежный залог за мебель, который вам будет возвращен по окончании срока аренды.
					</div>
				</div>
				<div class="faq-item">
					<div class="title_block">Могу ли я оплатить бытовку при получении у себя на объекте?</div>
					<div class="quest_block">
						К сожалению нет. Оплату можно сделать одним из следующих способов:
						- по безналичному расчету
						- наличными у нас в офисе или на складе.
						- на карту Сбербанка.
					</div>
				</div>
			</div>
		</div>
	</section>

<div class="container boxcol ">
	<div class="boxcol-two">
		<div class="imgcol">
			<img src="../../../assets/img/boxq.png" alt="" title="">
		</div>
		<div class="bgf8">
			<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна. По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
			<p>По сути, особенность рекламы консолидирует пак-шот. Диктат потребителя не так уж очевиден. Перераспределение бюджета, вопреки мнению П.Друкера, регулярно консолидирует социометрический маркетинг. Медийная реклама неоднозначна.</p>
		</div>
	</div>
</div>

<div class="gallery photogal">
	<div class="container940">
	<div class=" gallery-two-coloms">
		<div class="gallery-grid">
			<div class="gallery-item">
			<div class="block-title">
				<a href="#" class="title">Бытовка для столовых</a>
				<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
			</div>
			<img src="../../../assets/img/boxq.png" alt="image description">
			<div class="block-btn">
				<span class="price">от 4500 руб/мес</span>
				<a href="#" class="btn">Заказать</a>
			</div>
		</div>
		</div>
		<div class="gallery-grid">
			<div class="gallery-item">
				<div class="block-title">
					<a href="#" class="title">Бытовка для столовых</a>
					<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
				</div>
				<img src="../../../assets/img/boxq.png" alt="image description">
				<div class="block-btn">
					<span class="price">от 4500 руб/мес</span>
					<a href="#" class="btn">Заказать</a>
				</div>
			</div>
		</div>
		<div class="gallery-grid">
			<div class="gallery-item">
				<div class="block-title">
					<a href="#" class="title">Бытовка для столовых</a>
					<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
				</div>
				<img src="../../../assets/img/boxq.png" alt="image description">
				<div class="block-btn">
					<span class="price">от 4500 руб/мес</span>
					<a href="#" class="btn">Заказать</a>
				</div>
			</div>
		</div>
		<div class="gallery-grid">
			<div class="gallery-item">
				<div class="block-title">
					<a href="#" class="title">Бытовка для столовых</a>
					<p class="title-dscr">Приступая к выбору бытовки, необходимо учитывать климатические условия района, где она будет использоваться, ее назначение, вместимость</p>
				</div>
				<img src="../../../assets/img/boxq.png" alt="image description">
				<div class="block-btn">
					<span class="price">от 4500 руб/мес</span>
					<a href="#" class="btn">Заказать</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script src="../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
<script src="../../../js/scripts.min.js"></script>
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.css">
<link rel="stylesheet" href="../../../libs/ion.rangeSlider.skinNice.css">
</body>
</html>
